<h1>Welcome to the Game Center!</h1>
<p>Choose a game below to get started:</p>

<div><%= link_to image_tag("secret.png", :alt => "secret_number"), new_secret_number_path %></div>
<div><%= link_to image_tag("RPS.png", :alt => "rock_paper_scissors"), new_rock_paper_scissor_path %></div>
